{% extends 'base.html' %}

{% block content %}

<!-- Navbar is starting from here! -->
{% if user.is_authenticated and user.is_superuser %}

{% include 'admin_nav_bar.html' %}

<!-- Navbar is starting from here! -->

<div class="banner"></div>

<!-- Message -->
{% if messages %}
{% for msg in messages %}
<div class="customizable-modal-2">
  <div class="modal-content-2">
    <span class="close-button-2">&times;</span>
    <p>{{ msg }}</p>
  </div>
</div>
{% endfor %}
{% endif %}

<!-- Popup structure -->
<div id="popup">
  <button id="closePopup">&times;</button>
  <h2>Today's Winner</h2>
  <p id="winnerMessage"></p>
</div>

<div class="main-option-button-container">
  <div class="option-button-container">
    <button tag="0">User Information</button>
    <button tag="1">Winner Information</button>
    <button tag="2">Deposit Information</button>
    <button tag="3">Prize Distribution Detail</button>
    <button tag="4">Frudulent Activity Detail</button>
  </div>
</div>

<!-- User data (for admin) is starting from here! -->

<div class="main-body">

  <!-- Users Information -->
  <div class="user-data-admin" id="box-0" style="display: none;">
    <div class="user-content" style="margin-left:2%;">
      <h2 style="font-weight: bold;">Users Information</h2>
      <a href="/add_user">Add Users</a>
    </div>
    <div class="winners">
      <table>
        <thead>
          <tr>
            <th>S No.</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td>
              <a class="action" href="{% url 'update_user' user.id %}">Edit</a>
              <a class="action" href="{% url 'delete_user' user.id %}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
  <!-- Users Information -->

  <!-- Winner Information -->
  <div class="user-data-admin" id="box-1" style="display: none;">
    <div class="user-content" style="margin-left:2%;">
      <h2 style="font-weight: bold;">Winner Information</h2>
      <a id="winnerPopup">See Today Winner</a>
    </div>
    <div class="winners">
      <table>
        <thead>
          <tr>
            <th>S No.</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Winning Date</th>
            <th>Winning Amount</th>
            <th>Monthly Return</th>
          </tr>
        </thead>
        <tbody>
          {% for winner in winners %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{winner.user.first_name}}</td>
            <td>{{winner.user.last_name}}</td>
            <td>{{winner.user.email}}</td>
            <td>{{winner.user.address}}</td>
            <td>{{winner.winning_date}}</td>
            <td>{{winner.winning_amount}}</td>
            <td>{{winner.monthly_return}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
  <!-- Winner Information -->

  <!-- Deposit Details -->
  <div class="user-data-admin" id="box-2" style="display: none;">
    <div class="user-content" style="margin-left:2%;">
      <h2 style="font-weight: bold;">Deposit Details </h2>
    </div>
    <div class="winners">
      <table>
        <thead>
          <tr>
            <th>S No.</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Deposit Status</th>
            <th>Date</th>
            <th>Amount</th>
            <th>comment</th>
          </tr>
        </thead>
        <tbody>
          {% for deposit in deposits %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{deposit.user.first_name}}</td>
            <td>{{deposit.user.last_name}}</td>
            <td>{{deposit.user.email}}</td>
            {% if deposit.status == '1' %}
            <td>Successful</td>
            {% elif deposit.status == '2' %}
            <td>Pending</td>
            {% elif deposit.status == '3' %}
            <td>Failed</td>
            {% endif %}
            <td>{{deposit.deposit_date}}</td>
            <td>{{deposit.amount}}</td>
            <td>{{deposit.comment}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
  <!-- Deposit Details -->

  <!-- Prize Distribution Details -->
  <div class="user-data-admin" id="box-3" style="display: none;">
    <div class="user-content" style="margin-left:2%;">
      <h2 style="font-weight: bold;">Prize Distribution Details </h2>
    </div>
    <div class="winners">
      <table>
        <thead>
          <tr>
            <th>S No.</th>
            <th>Deduction Amount</th>
            <th>Service Charges</th>
            <th>Welfare Fund Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for detail in pdd %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{detail.deduction_amount}}</td>
            <td>{{detail.service_charges}}</td>
            <td>{{detail.welfare_fund_amount}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
  <!-- Prize Distribution Details -->

  <!-- Frudulent Activity Detection -->
  <div class="user-data-admin" id="box-4" style="display: none;">
    <div class="user-content" style="margin-left:2%;">
      <h2 style="font-weight: bold;">Frudulent Activity Detail</h2>
    </div>
    <div class="winners">
      <table>
        <thead>
          <tr>
            <th>S No.</th>
            <th>User Name</th>
            <th>Deposit Status</th>
            <th>Date</th>
            <th>log</th>
          </tr>
        </thead>
        <tbody>
          {% for fd in frudDetectionDetail %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{fd.deposit.user.username}}</td>
            {% if fd.deposit.status == '1' %}
            <td>Successful</td>
            {% elif fd.deposit.status == '2' %}
            <td>Pending</td>
            {% elif fd.deposit.status == '3' %}
            <td>Failed</td>
            {% endif %}
            <td>{{fd.deposit.deposit_date}}</td> <!-- Date and time of frud happen -->
            <td>{{fd.log}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
  <!-- Frudulent Activity Detection -->

</div>

<footer>
  <h3>Follow Us On Social Platform</h3>
  <p>Lorem ipsum dolor sit consectetur adipisicing elit Mollitia distinctio officia necessitatibus accusantium.</p>
  <div class="icons">
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin-in"></i>
    <i class="fa-brands fa-x-twitter"></i>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var adminImg = document.getElementById("adminImg");
    var ddMenu = document.querySelector(".dd-menu");
    document.getElementById('box-0').style.display = 'block';

    adminImg.addEventListener("click", function () {
      ddMenu.classList.toggle("show-dropdown");
    });

    // Close dropdown if clicked outside
    document.addEventListener("click", function (event) {
      if (!adminImg.contains(event.target) && !ddMenu.contains(event.target)) {
        ddMenu.classList.remove("show-dropdown");
      }
    });

    // Get the modal element
    var modal = document.querySelector('.customizable-modal-2');

    // Get the close button element
    var closeButton = document.querySelector('.close-button-2');

    // Function to open the modal
    function openModal() {
      modal.style.display = 'block';
    }

    // Function to close the modal
    function closeModal() {
      modal.style.display = 'none';
    }

    // Event listener to close the modal when clicking the close button
    if (closeButton !== null) {
      closeButton.addEventListener('click', closeModal);
    }

    // Sliding button option
    const WIDTH = 20;

    var btnContainer = document.querySelector(".option-button-container");

    function slideBg(n) {
      const bgOffset = WIDTH * n;
      btnContainer.style.setProperty("--bg-offset", `${bgOffset}%`);
    }

    // Event listener to get the tag value and pass it to slideBg function
    btnContainer.addEventListener('click', function (event) {
      if (event.target.tagName === 'BUTTON') {
        const tagValue = event.target.getAttribute('tag');
        slideBg(parseInt(tagValue));

        // Hide all boxes
        for (let i = 0; i < 5; i++) {
          document.getElementById(`box-${i}`).style.display = 'none';
        }

        // Show the box corresponding to the clicked button's data-tag
        document.getElementById(`box-${tagValue}`).style.display = 'block';
      }
    });


    document.getElementById('winnerPopup').addEventListener('click', function() {
        // Display the popup
        document.getElementById('popup').style.display = 'block';
        // Set the winner message
        document.getElementById('winnerMessage').innerText = "{{ winner_msg|safe|title }}";
    });

    document.getElementById('closePopup').addEventListener('click', function() {
        // Hide the popup when the close button is clicked
        document.getElementById('popup').style.display = 'none';
    });

  });
</script>


{% endif %}


{% endblock%}