{% extends 'base.html' %}

{% block content %}

  <!-- Navbar is starting from here! -->
  {% if user.is_authenticated and user.is_superuser %}
  <nav class="custom-nav">
    <a id="Logo" href="/user_admin">Lucky Drawer</a>
    <div class="admin-profile">
      <h3>Admin</h3>
      <div class="admin-menu">
        <div class="admin-img" id="adminImg">
          <img src="../static/images/admin.png"
          style="height: 35px;width: 35px;margin-left: 15px;border: 4px solid white;cursor: pointer;background-size: cover; border-radius: 50%;"/>
        </div> 
        <div class="dd-menu" id="dd-drop">
          <div class="dd-left">
            <ul>
              <li><i class="fa-solid fa-layer-group"></i></li>
              <li><i class="fa-solid fa-user-gear"></i></li>
              <li><i class="fa-solid fa-right-from-bracket"></i></li>
            </ul>
          </div>
          <div class="dd-right">
            <ul>
              <li><a href="/user_admin">Dashboard</a></li>
              <li><a href="/update_admin">Update Profile</a></li>
              <li><a href="/signout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Navbar is starting from here! -->

  <div class="banner"></div>

  <!-- Message -->
  {% if messages %}
  {% for msg in messages %}
      <div class="customizable-modal-2">
        <div class="modal-content-2">
          <span class="close-button-2">&times;</span>
          <p>{{ msg }}</p>
        </div>
      </div> 
  {% endfor %}
{% endif %}


  <!-- User data (for admin) is starting from here! -->

  <main>
    <div class="user-data-admin">
    <div class="user-content" style="margin-left:2%;">
      <h2 style="font-weight: bold;">Users Information</h2>
      <a href="/add_user">Add Users</a>
    </div>
    <div class="users">
<table >
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address}}</td>
      <td>
        <a class="action" href="{% url 'update_user' user.id %}">Edit</a> 
        <a class="action" href="{% url 'delete_user' user.id %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    </div>
  </div>
  </main>

  <footer>
    <h3>Follow Us On Social Platform</h3>
    <p>Lorem ipsum dolor sit consectetur adipisicing elit Mollitia distinctio officia necessitatibus accusantium.</p>
    <div class="icons">
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin-in"></i>
    <i class="fa-brands fa-x-twitter"></i>
</div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var adminImg = document.getElementById("adminImg");
    var ddMenu = document.querySelector(".dd-menu");

    adminImg.addEventListener("click", function () {
      ddMenu.classList.toggle("show-dropdown");
    });

    // Close dropdown if clicked outside
    document.addEventListener("click", function (event) {
      if (
        !adminImg.contains(event.target) &&
        !ddMenu.contains(event.target)
      ) {
        ddMenu.classList.remove("show-dropdown");
      }
    });

    // Get the modal element
var modal = document.querySelector('.customizable-modal-2');

// Get the close button element
var closeButton = document.querySelector('.close-button-2');

// Function to open the modal
function openModal() {
  modal.style.display = 'block';
}

// Function to close the modal
function closeModal() {
  modal.style.display = 'none';
}
// Event listener to close the modal when clicking the close button
closeButton.addEventListener('click', closeModal);

  });
</script>

{% endif %}


{% endblock%}