{% extends 'base.html' %}

{% block content %}
   {% if user.is_authenticated %}

   <nav class="custom-nav">
    <a id="Logo" href="/user_admin">Lucky Drawer</a>
    <div class="admin-profile">
      <h3>{{user.username}}</h3>
      <div class="admin-menu">
        <div class="admin-img" id="adminImg">
          <img src="../static/images/admin.png"
          style="height: 35px;width: 35px;margin-left: 15px;border: 4px solid white;cursor: pointer;background-size: cover; border-radius: 50%;"/>
        </div> 
        <div class="dd-menu" id="dd-drop">
          <div class="dd-left">
            <ul>
              <li><i class="fa-solid fa-layer-group"></i></li>
              <li><i class="fa-solid fa-user-gear"></i></li>
              <li><i class="fa-solid fa-right-from-bracket"></i></li>
            </ul>
          </div>
          <div class="dd-right">
            <ul>
              <li><a href="/profile">Dashboard</a></li>
              <li><a href="/deposit">Deposit Fund</a></li>
              <!-- <li><a href="/update_admin">Update Profile</a></li> -->
              <li><a href="/signout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

<div class="deposit-main-body">


  <div class="custom-container">
    <div class="custom-transparent-box">
  <div class="custom-form-container">
    <h2>Deposit Amount</h2>
    <form method="post" class="custom-deposit-form">
        {% csrf_token %}

        <div class="custom-form-group">
            <label for="username" class="depo-txt">User Name:</label>
            <input type="text" value={{user.username}} id="username" name="username" required>
        </div>

        <div class="custom-form-group">
            <label for="deposit" class="depo-txt">Amount to Deposit (PKR):</label>
            <input type="number" id="deposit" name="amount" min="1" required>
        </div>

        <div class="custom-form-group">
            <label for="comment" class="depo-txt">Comment:</label>
            <textarea id="comment" name="comment" required></textarea>
        </div>

        <div class="custom-form-group">
            <input class="depo-btn" type="submit" value="Deposit">
        </div>
    </form>
</div>
</div>
</div>

<footer>
    <h3>Follow Us On Social Platform</h3>
    <p>Lorem ipsum dolor sit consectetur adipisicing elit Mollitia distinctio officia necessitatibus accusantium.</p>
    <div class="icons">
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin-in"></i>
    <i class="fa-brands fa-x-twitter"></i>
</div>
</footer>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      var adminImg = document.getElementById("adminImg");
      var ddMenu = document.querySelector(".dd-menu");
  
      adminImg.addEventListener("click", function () {
        ddMenu.classList.toggle("show-dropdown");
      });
  
      // Close dropdown if clicked outside
      document.addEventListener("click", function (event) {
        if (
          !adminImg.contains(event.target) &&
          !ddMenu.contains(event.target)
        ) {
          ddMenu.classList.remove("show-dropdown");
        }
      });
    });
  </script> 


   {% endif %}
{% endblock %}