{% extends 'base.html' %}

{% block content %}
<!-- Navbar is starting from here! -->

<nav class="custom-nav">
  <a id="Logo" href="/user_admin">Lucky Drawer</a>
  <div class="admin-profile">
    <h3>Admin</h3>
    <div class="admin-menu">
      <div class="admin-img" id="adminImg">
        <img src="/frudDetection/static/images/admin.png" style="height: 35px;width: 35px;margin-left: 15px;border: 4px solid white;cursor: pointer;background-size: cover;"/>
      </div> 
      <div class="dd-menu" id="dd-drop">
        <div class="dd-left">
          <ul>
            <li><i class="fa-solid fa-layer-group"></i></li>
            <li><i class="fa-solid fa-user-gear"></i></li>
            <li><i class="fa-solid fa-right-from-bracket"></i></li>
          </ul>
        </div>
        <div class="dd-right">
          <ul>
            <li><a href="/user_admin">Dashboard</a></li>
            <li><a href="/update_admin">Update Profile</a></li>
            <li><a href="/signout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- adding user is starting from here! -->
<div class="reg-parent">
  <div class="register-page">
    <h1>Edit User</h1>
    <form method="post">

      {% csrf_token %}
      {% for field in form %}
      <input type="{{field.field.widget.input_type}}"
      name="{{field.html_name}}" 
      value ="{% if field.label == 'Username' %}{{user.username}}{% elif field.label == 'First name' %}{{user.first_name}}{% elif field.label == 'Last name' %}{{user.last_name}}{% elif field.label == 'Email address' %}{{user.email}}{% endif %}"
      placeholder="{% if field.label == 'Username' %}{{user.username}}{% elif field.label == 'First name' %}{{user.first_name}}{% elif field.label == 'Last name' %}{{user.last_name}}{% elif field.label == 'Password' %}{{'Set New Password'}}{% elif field.label == 'Email address' %}{{user.email}}{% endif %}"/>
      {% for error in field.errors %}
      <p style="color: red">{{error}}</p>
      {% endfor %}
      {% endfor %}

      <button type="submit" class="reg-btn">Update User</button>
    </form>
  </div>
</div>
<!-- adding user is ending from here! -->



<footer style="background-color: #14a37f;">
  <h3 style="color: white;">Follow Us On Social Platform</h3>
  <p style="color: white;">Lorem ipsum dolor sit consectetur adipisicing elit Mollitia distinctio officia necessitatibus
    accusantium.</p>
  <div class="icons">
    <i style="color: white;" class="fa-brands fa-facebook-f"></i>
    <i style="color: white;" class="fa-brands fa-instagram"></i>
    <i style="color: white;" class="fa-brands fa-linkedin-in"></i>
    <i style="color: white;" class="fa-brands fa-x-twitter"></i>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var adminImg = document.getElementById("adminImg");
    var ddMenu = document.querySelector(".dd-menu");

    adminImg.addEventListener("click", function () {
      ddMenu.classList.toggle("show-dropdown");
    });

    // Close dropdown if clicked outside
    document.addEventListener("click", function (event) {
      if (
        !adminImg.contains(event.target) &&
        !ddMenu.contains(event.target)
      ) {
        ddMenu.classList.remove("show-dropdown");
      }
    });
  });
</script>


{% endblock%}