{% extends 'base.html' %}
  
{% block title %}Login{% endblock %}
  
{% block content %}
   {% if user.is_authenticated %}

   {% include 'user_nav_bar.html' %}
   
   <div class="banner"></div>

   <!-- User data (for admin) is starting from here! -->
  <!-- Message -->
  {% if messages %}
  {% for msg in messages %}
      <div class="customizable-modal-2">
        <div class="modal-content-2">
          <span class="close-button-2">&times;</span>
          <p>{{ msg }}</p>
        </div>
      </div> 
  {% endfor %}
{% endif %}


<div class="main-option-button-container-profile">
  <div class="option-button-container-profile">
    <button tag="0">My Deposit Detail</button>
    <button tag="1">Winner Information</button>

  </div>
</div>

  <!-- User data is starting from here! -->


  <div class="main-body">
    
 <!-- Deposit Details -->
 <div class="user-data-admin" id="box-0" style="display: none;">
  <div class="user-content" style="margin-left:2%;">
    <h2 style="font-weight: bold;">My Deposit Detail</h2>
    
  </div>
  <div class="winners">
<table >
<thead>
  <tr>
    <th>S No.</th>
    <th>Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Date</th>
    <th>Amount</th>
    <th>comment</th>
  </tr>
</thead>
<tbody>
  {% for deposit in deposits %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{deposit.user.first_name}}</td>
    <td>{{deposit.user.last_name}}</td>
    <td>{{deposit.user.email}}</td>
    <td>{{deposit.deposit_date}}</td>
    <td>{{deposit.amount}}</td>
    <td>{{deposit.comment}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

  </div>
</div>
<!-- Deposit Details -->


  <!-- Winner Information -->
  <div class="user-data-admin" id="box-1" style="display: none;">
    <div class="user-content" style="margin-left:2%;">
      <h2 style="font-weight: bold;">Winner Information</h2>
    </div>
    <div class="winners">
<table >
  <thead>
    <tr>
      <th>S No</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Winning Date</th>
      <th>Winning Amount</th>
      <th>Monthly Return</th>
    </tr>
  </thead>
  <tbody>
    {% for winner in winners %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{winner.user.first_name}}</td>
      <td>{{winner.user.last_name}}</td>
      <td>{{winner.user.email}}</td>
      <td>{{winner.user.address}}</td>
      <td>{{winner.winning_date}}</td>
      <td>{{winner.winning_amount}}</td>
      <td>{{winner.monthly_return}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    </div>
  </div>
  <!-- Winner Information -->

</div>



<footer>
  <h3>Follow Us On Social Platform</h3>
  <p>Lorem ipsum dolor sit consectetur adipisicing elit Mollitia distinctio officia necessitatibus accusantium.</p>
  <div class="icons">
  <i class="fa-brands fa-facebook-f"></i>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-linkedin-in"></i>
  <i class="fa-brands fa-x-twitter"></i>
</div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var adminImg = document.getElementById("adminImg");
    var ddMenu = document.querySelector(".dd-menu-2");
    document.getElementById('box-0').style.display = 'block';

    adminImg.addEventListener("click", function () {
      ddMenu.classList.toggle("show-dropdown");
    });

    // Close dropdown if clicked outside
    document.addEventListener("click", function (event) {
      if (
        !adminImg.contains(event.target) &&
        !ddMenu.contains(event.target)
      ) {
        ddMenu.classList.remove("show-dropdown");
      }
    });

    // Get the modal element
var modal = document.querySelector('.customizable-modal-2');

// Get the close button element
var closeButton = document.querySelector('.close-button-2');

// Function to open the modal
function openModal() {
  modal.style.display = 'block';
}

// Function to close the modal
function closeModal() {
  modal.style.display = 'none';
}

   // Event listener to close the modal when clicking the close button
   if (closeButton !== null) {
      closeButton.addEventListener('click', closeModal);
    }

// Sliding button option
const WIDTH = 50;

var btnContainer = document.querySelector(".option-button-container-profile");

function slideBg(n) {
  const bgOffset = WIDTH * n;
  btnContainer.style.setProperty("--bg-offset", `${bgOffset}%`);
}

// Event listener to get the tag value and pass it to slideBg function
btnContainer.addEventListener('click', function (event) {
  if (event.target.tagName === 'BUTTON') {
    const tagValue = event.target.getAttribute('tag');
    slideBg(parseInt(tagValue));

    // Hide all boxes
    for (let i = 0; i < 2; i++) {
      document.getElementById(`box-${i}`).style.display = 'none';
    }

    // Show the box corresponding to the clicked button's data-tag
    document.getElementById(`box-${tagValue}`).style.display = 'block';
  }
});

  });
</script> 
   {% endif %}
   
{% endblock %}