{% extends 'base.html' %}

{% block content %}
<nav>
    <a id="Logo" href="/user_admin">Lucky Drawer</a>
  </nav>

  <!-- Navbar is ending from here! -->

  <!-- adding user is starting from here! -->
  
  <div class="add-user-parent">
  <div class="add-user-page">
      <h1>Update Profile</h1>
      <form action="">
          <input type="text" placeholder="Change First Name">
          <input type="text" placeholder="Change last Name">
          <input type="password" placeholder="Change Password">
      </form>
      <button type="submit" class="add-user-btn">Update</button>
  </div>
</div>

  <!-- adding user is ending from here! -->



<footer style="background-color: #14a37f;">
<h3 style="color: white;">Follow Us On Social Platform</h3>
<p style="color: white;">Lorem ipsum dolor sit consectetur adipisicing elit Mollitia distinctio officia necessitatibus accusantium.</p>
<div class="icons">
<i style="color: white;" class="fa-brands fa-facebook-f"></i>
<i style="color: white;" class="fa-brands fa-instagram"></i>
<i style="color: white;" class="fa-brands fa-linkedin-in"></i>
<i style="color: white;" class="fa-brands fa-x-twitter"></i>
</div>
</footer>

{% endblock%}