<nav class="custom-nav">
    <a id="Logo" href="/user_admin">Lucky Drawer</a>
    <div class="admin-profile">
      <h3>{{user.username}}</h3>
      <div class="admin-menu-2">
        <div class="admin-img" id="adminImg">
          <img src="../static/images/admin.png"
          style="height: 35px;width: 35px;margin-left: 15px;border: 4px solid white;cursor: pointer;background-size: cover; border-radius: 50%;"/>
        </div> 
        <div class="dd-menu-2" id="dd-drop">
          <div class="dd-left-2">
            <ul>
              <li><i class="fa-solid fa-layer-group"></i></li>
              <li><i class="fa-solid fa-user-cog"></i></li>
              <li><i class="fa fa-credit-card"></i></li>
              <li><i class="fa fa-pencil-square"></i></li>
              <li><i class="fa-solid fa-right-from-bracket"></i></li>
          </ul>
          </div>
          <div class="dd-right-2">
            <ul>
              <li><a href="/profile">Dashboard</a></li>
              <li><a href="/deposit">Deposit Fund</a></li>
              <li><a href="/demo_frud_deposit">Demo Deposit Fund</a></li>
              <li><a href="/profile">Update Profile</a></li>
              <li><a href="/signout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
